footer
    p #[a(href='https://glitch.com/~socket-esteb') Remix this in HyperDev] #[span.arrow &#x27A1;&#xFE0F;]
    p #[a(href='https://github.com/Estebmaister/socket') Clone this in GitHub] #[span.arrow &#x27A1;&#xFE0F;]