title Node server
meta(name='description', content='Home page to chat application')
meta(name="author" content="Esteban Camargo")
meta(charset='utf-8')
meta(name="keywords" content="backend pug")

//- WhatsApp Description
meta(property="og:title" content="Backend server")
meta(property="og:description" content="Backend server in NodeJS, for customizable actions")
meta(property="og:image" content="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_f0b606abb6d19089febc9faeeba5bc05/nodejs-development-services.png")
meta(property="og:url" content="https://sockect-esteb.glitch.me/")
meta(property="og:type" content="website")
meta(property="og:site_name" content="Estebmaister")

meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")