html(lang="en-US")
  head
    title FCC Advanced Node and Express
    meta(name='description', content='Home page')
    meta(name="author" content="Esteban Camargo")
    meta(charset='utf-8')
    meta(name="keywords" content="backend pug")

    //- WhatsApp Description
    meta(property="og:title" content="Backend server")
    meta(property="og:description" content="Esteban's backend server in NodeJS, for customizable actions")
    meta(property="og:image" content="https://estebmaister.com.ve/assets/images/profile.png")
    meta(property="og:url" content="https://node-esteb.glitch.me/")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Estebmaister")

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link#favicon(rel="shortcut icon", href="./public/img/noauth.ico", type="image/x-icon")
    link(rel='stylesheet', type="text/css", href='./public/css/style.css')

  body
    h1 FCC Advanced Node and Express
    h2 Social Login
    div
      a(href='/auth/github') Login with Github!
    if showLogin
      p Please 
        a#a-login(href='#') Login 
        | / 
        a#a-register(href='#') Register
      .pane-wrapper
        .pane.login
          p Login Form
          form(action='/login' method='post')
            .input-wrapper
              label(for='username') Username:
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z')
                input#username(type='text' name='username' required placeholder='Esteban')
                br
            .input-wrapper
              label(for='password') Password :
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M11.83,1.73C8.43,1.79 6.23,3.32 6.23,3.32C5.95,3.5 5.88,3.91 6.07,4.19C6.27,4.5 6.66,4.55 6.96,4.34C6.96,4.34 11.27,1.15 17.46,4.38C17.75,4.55 18.14,4.45 18.31,4.15C18.5,3.85 18.37,3.47 18.03,3.28C16.36,2.4 14.78,1.96 13.36,1.8C12.83,1.74 12.32,1.72 11.83,1.73M12.22,4.34C6.26,4.26 3.41,9.05 3.41,9.05C3.22,9.34 3.3,9.72 3.58,9.91C3.87,10.1 4.26,10 4.5,9.68C4.5,9.68 6.92,5.5 12.2,5.59C17.5,5.66 19.82,9.65 19.82,9.65C20,9.94 20.38,10.04 20.68,9.87C21,9.69 21.07,9.31 20.9,9C20.9,9 18.15,4.42 12.22,4.34M11.5,6.82C9.82,6.94 8.21,7.55 7,8.56C4.62,10.53 3.1,14.14 4.77,19C4.88,19.33 5.24,19.5 5.57,19.39C5.89,19.28 6.07,18.92 5.95,18.6V18.6C4.41,14.13 5.78,11.2 7.8,9.5C9.77,7.89 13.25,7.5 15.84,9.1C17.11,9.9 18.1,11.28 18.6,12.64C19.11,14 19.08,15.32 18.67,15.94C18.25,16.59 17.4,16.83 16.65,16.64C15.9,16.45 15.29,15.91 15.26,14.77C15.23,13.06 13.89,12 12.5,11.84C11.16,11.68 9.61,12.4 9.21,14C8.45,16.92 10.36,21.07 14.78,22.45C15.11,22.55 15.46,22.37 15.57,22.04C15.67,21.71 15.5,21.35 15.15,21.25C11.32,20.06 9.87,16.43 10.42,14.29C10.66,13.33 11.5,13 12.38,13.08C13.25,13.18 14,13.7 14,14.79C14.05,16.43 15.12,17.54 16.34,17.85C17.56,18.16 18.97,17.77 19.72,16.62C20.5,15.45 20.37,13.8 19.78,12.21C19.18,10.61 18.07,9.03 16.5,8.04C14.96,7.08 13.19,6.7 11.5,6.82M11.86,9.25V9.26C10.08,9.32 8.3,10.24 7.28,12.18C5.96,14.67 6.56,17.21 7.44,19.04C8.33,20.88 9.54,22.1 9.54,22.1C9.78,22.35 10.17,22.35 10.42,22.11C10.67,21.87 10.67,21.5 10.43,21.23C10.43,21.23 9.36,20.13 8.57,18.5C7.78,16.87 7.3,14.81 8.38,12.77C9.5,10.67 11.5,10.16 13.26,10.67C15.04,11.19 16.53,12.74 16.5,15.03C16.46,15.38 16.71,15.68 17.06,15.7C17.4,15.73 17.7,15.47 17.73,15.06C17.79,12.2 15.87,10.13 13.61,9.47C13.04,9.31 12.45,9.23 11.86,9.25M12.08,14.25C11.73,14.26 11.46,14.55 11.47,14.89C11.47,14.89 11.5,16.37 12.31,17.8C13.15,19.23 14.93,20.59 18.03,20.3C18.37,20.28 18.64,20 18.62,19.64C18.6,19.29 18.3,19.03 17.91,19.06C15.19,19.31 14.04,18.28 13.39,17.17C12.74,16.07 12.72,14.88 12.72,14.88C12.72,14.53 12.44,14.25 12.08,14.25Z')
                input#password(type='password' name='password' required)
                br
            br
            input.btn.btn--primary(type='submit' value='Log In')
          
        .pane.register
          p Registration Form
          form(action='/register', method='post')
            .input-wrapper
              label(for='reg-username') Username:
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z')
                input#reg-username(type='text' name='username' required placeholder='Esteban')
                br
            .input-wrapper
              label(for='reg-email') Email :
              .input-group
                span.icon
                  svg(viewbox='0 0 20 20')
                    path(d='M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z' stroke-width='4')
                input#reg-email(type='email' name='email' required)
                br
            .input-wrapper
              label(for='reg-password') Password :
              .input-group
                span.icon
                  svg(viewbox='0 0 24 24')
                    path(d='M11.83,1.73C8.43,1.79 6.23,3.32 6.23,3.32C5.95,3.5 5.88,3.91 6.07,4.19C6.27,4.5 6.66,4.55 6.96,4.34C6.96,4.34 11.27,1.15 17.46,4.38C17.75,4.55 18.14,4.45 18.31,4.15C18.5,3.85 18.37,3.47 18.03,3.28C16.36,2.4 14.78,1.96 13.36,1.8C12.83,1.74 12.32,1.72 11.83,1.73M12.22,4.34C6.26,4.26 3.41,9.05 3.41,9.05C3.22,9.34 3.3,9.72 3.58,9.91C3.87,10.1 4.26,10 4.5,9.68C4.5,9.68 6.92,5.5 12.2,5.59C17.5,5.66 19.82,9.65 19.82,9.65C20,9.94 20.38,10.04 20.68,9.87C21,9.69 21.07,9.31 20.9,9C20.9,9 18.15,4.42 12.22,4.34M11.5,6.82C9.82,6.94 8.21,7.55 7,8.56C4.62,10.53 3.1,14.14 4.77,19C4.88,19.33 5.24,19.5 5.57,19.39C5.89,19.28 6.07,18.92 5.95,18.6V18.6C4.41,14.13 5.78,11.2 7.8,9.5C9.77,7.89 13.25,7.5 15.84,9.1C17.11,9.9 18.1,11.28 18.6,12.64C19.11,14 19.08,15.32 18.67,15.94C18.25,16.59 17.4,16.83 16.65,16.64C15.9,16.45 15.29,15.91 15.26,14.77C15.23,13.06 13.89,12 12.5,11.84C11.16,11.68 9.61,12.4 9.21,14C8.45,16.92 10.36,21.07 14.78,22.45C15.11,22.55 15.46,22.37 15.57,22.04C15.67,21.71 15.5,21.35 15.15,21.25C11.32,20.06 9.87,16.43 10.42,14.29C10.66,13.33 11.5,13 12.38,13.08C13.25,13.18 14,13.7 14,14.79C14.05,16.43 15.12,17.54 16.34,17.85C17.56,18.16 18.97,17.77 19.72,16.62C20.5,15.45 20.37,13.8 19.78,12.21C19.18,10.61 18.07,9.03 16.5,8.04C14.96,7.08 13.19,6.7 11.5,6.82M11.86,9.25V9.26C10.08,9.32 8.3,10.24 7.28,12.18C5.96,14.67 6.56,17.21 7.44,19.04C8.33,20.88 9.54,22.1 9.54,22.1C9.78,22.35 10.17,22.35 10.42,22.11C10.67,21.87 10.67,21.5 10.43,21.23C10.43,21.23 9.36,20.13 8.57,18.5C7.78,16.87 7.3,14.81 8.38,12.77C9.5,10.67 11.5,10.16 13.26,10.67C15.04,11.19 16.53,12.74 16.5,15.03C16.46,15.38 16.71,15.68 17.06,15.7C17.4,15.73 17.7,15.47 17.73,15.06C17.79,12.2 15.87,10.13 13.61,9.47C13.04,9.31 12.45,9.23 11.86,9.25M12.08,14.25C11.73,14.26 11.46,14.55 11.47,14.89C11.47,14.89 11.5,16.37 12.31,17.8C13.15,19.23 14.93,20.59 18.03,20.3C18.37,20.28 18.64,20 18.62,19.64C18.6,19.29 18.3,19.03 17.91,19.06C15.19,19.31 14.04,18.28 13.39,17.17C12.74,16.07 12.72,14.88 12.72,14.88C12.72,14.53 12.44,14.25 12.08,14.25Z')
                input#reg-password(type='password' name='password' required)
                br
            br
            input.btn.btn--primary(type='submit' value='Register')
    
    footer
      p
        a(href='https://glitch.com/~mongoose-esteb')
          | Remix this in HyperDev
        span.arrow &#x27A1;&#xFE0F;
      p
        a(href='https://github.com/Estebmaister/mongoose')
          | Clone this in GitHub
        span.arrow &#x27A1;&#xFE0F;
    aside
      svg.cat(viewbox='0 0 493 470' fill='none' xmlns='http://www.w3.org/2000/svg')
        ellipse.outer-pupil(cx='430.549' cy='152.203' rx='40' ry='30' fill='#eee')
        ellipse.outer-pupil(cx='321.377' cy='152.203' rx='40' ry='30' fill='#eee')
        ellipse.pupil(cx='301.377' cy='120.203' rx='11' ry='30' fill='black')
        ellipse.pupil(cx='410.549' cy='120.203' rx='11' ry='30' fill='black')
        ellipse.pupil.inner-pupil(cx='410.549' cy='120.203' rx='5.5' ry='15.5' fill='black')
        ellipse.pupil.inner-pupil(cx='301.377' cy='120.203' rx='5.5' ry='15.5' fill='black')
        ellipse.outer-pupil-body(cx='320.9' cy='152.203' rx='49' ry='34' fill='#eee' stroke='#090909' stroke-width='20')
        ellipse.outer-pupil-body(cx='429.8' cy='152.203' rx='49' ry='34' fill='transparent' stroke='#090909' stroke-width='20')
        path.body-cat(fill-rule='evenodd' clip-rule='evenodd' d='M259.889 15.0499V70.8143H259.876V221.295L258.4 221.295H256.925V221.306C204.644 222.094 162.506 264.721 162.506 317.189C162.506 317.682 162.51 318.174 162.517 318.664H162.506L162.506 432.262C108.996 416.323 97.8602 285.614 97.5813 232.691C97.589 232.336 97.5928 231.979 97.5928 231.622C97.5928 231.19 97.5872 230.759 97.576 230.33C97.5769 229.247 97.5827 228.202 97.5928 227.196L97.3926 227.176C95.1473 202.372 74.2973 182.937 48.908 182.937C23.6523 182.937 2.88829 202.168 0.460371 226.785C0.379264 226.92 0.300188 227.057 0.223163 227.196C-5.67803 379.447 106.937 458.326 162.506 469.145L397.078 469.145L398.554 469.145V469.134C450.834 468.345 492.973 425.719 492.973 373.25C492.973 372.983 492.972 372.716 492.969 372.449C492.969 372.36 492.968 372.272 492.967 372.183C492.965 372.047 492.964 371.911 492.962 371.775H492.973V221.295V71.4081H492.986V15.3468C493.478 7.47851 480.594 -5.89754 466.431 3.54437C452.416 12.8874 421.837 51.8923 407.857 70.8143H345.238C331.36 52.0065 300.533 12.6397 286.445 3.24749C272.282 -6.19442 259.397 7.18163 259.889 15.0499ZM360.21 152.253C360.21 174.252 342.376 192.086 320.377 192.086C298.377 192.086 280.543 174.252 280.543 152.253C280.543 130.253 298.377 112.42 320.377 112.42C342.376 112.42 360.21 130.253 360.21 152.253ZM429.549 192.086C451.548 192.086 469.382 174.252 469.382 152.253C469.382 130.253 451.548 112.42 429.549 112.42C407.549 112.42 389.716 130.253 389.716 152.253C389.716 174.252 407.549 192.086 429.549 192.086Z' fill='black')
        path.nose(fill-rule='evenodd' clip-rule='evenodd' d='M377.899 191.671C384.633 191.124 389.702 188.743 389.702 185.888C389.702 182.628 383.097 179.986 374.949 179.986C366.801 179.986 360.196 182.628 360.196 185.888C360.196 188.743 365.264 191.124 371.998 191.671V206.542H366.097C364.468 206.542 363.146 207.863 363.146 209.492C363.146 211.122 364.468 212.443 366.097 212.443H366.1H383.797H383.801C385.43 212.443 386.751 211.122 386.751 209.492C386.751 207.863 385.43 206.542 383.801 206.542H377.899V191.671Z' fill='#FACCFB')

    script(type='application/x-javascript' src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(type='application/x-javascript' src='./public/client.js')
    script(type='application/x-javascript' src="./public/js/index.js")